@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html,
body {
  height: 100%;
}

body {
  background: white;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: Roboto, sans-serif;
}
.title {
  text-align: center;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

aside {
  width: 320px;
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 30px 20px;
}

aside label {
  color: #acacac;
  font-size: 14px;
  font-weight: bold;
  display: block;
}

aside input {
  width: 100%;
  height: 32px;
  font-size: 14px;
  color: #666;
  border: 0;
  border-bottom: 1px solid #999;
}

aside #addTodo {
  width: 100%;
  margin: 0 auto;
  border: none;
  margin-top: 30px;
  background: #c4b094;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

aside #addTodo:hover {
  background: #ae9878;
  transition: background 0.5s;
}

main {
  margin-left: 30px;
}
